<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VIEW COMPLAINT</title>
</head>
<body>

<table border="5">
    <thead>
    <td>Order ID</td>
    <td>NAME</td>
    <td>Product Name</td>
    <td>Date</td>
    <td>Complaint</td>
    </thead>
    <tr>
        <td>{{ms1}}</td>
        <td>{{ms2}}</td>
        <td>{{ms3}}</td>
        <td>{{ms4}}</td>
        <td>{{ms5}}</td>
    </tr>
</table>
<br><br>
<a href="/home">Go back to homepage</a>
</body>
</html>